<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know More</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class=" container bg-white p-8 rounded-lg shadow-lg text-center w-full max-w-lg">
        <h1 class="text-3xl font-bold mb-6">Know More</h1>

        <ul class="know-more-list">
            <li>
                Sign in to your Spotify account
            </li>
            <li>
                Paste your Youtube playlist URL in the input box
            </li>
            <li>
                Click on "Transfer to Spotify"
            </li>
            <li>
                Enjoy music without any hustle!
            </li>
        </ul>
        <a href="{{ url_for('index') }}"
            class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">Back to
            Home</a>
    </div>

</body>

</html>